@import "reset";
@import "bourbon", "neat";

$mobile: 480px;
$tablet: 768px;
$md: 992px;
$lg: 1200px;

@font-face{
	font-family:'brandon-grotesque';
	src:url('./fonts/BrandonGrotesque-Light.otf') format("opentype");
	font-weight:300;
}


body {
	font-family: 'brandon-grotesque', sans-serif;
	background-color: #fff;
	color: #333;
}

.header {
	padding: 20px;
	max-width: 490px;

	h1, p {
		margin: 0;
		font-size: 2.2em;
		letter-spacing: 1px;
		text-transform: lowercase;
		font-weight: 300;

		@include media(max-width $mobile) {
			font-size: 2.1em;
		}
	}

	.give-me-space {
		margin-top: 25px;
	}

	.twitter {
	    margin: 15px 2px;
	}

	.facebook {
	    margin: 5px 2px;
	}

}
