@import "base/reset";
@import "bourbon", "neat";

body {
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
	color: #333;
}

.page-header {
	@include outer-container;

	max-width: 940px;
	padding: 72px 15px 45px;
	
	.page-title {
		@include span-columns(3);

		h1 {
			margin: 0;
			padding: 0;
			font-size: 30px;
			font-weight: 700;
			line-height: 31px;

			a {
				color: #2C2C2C;
				
				span {
					font-weight: 400;
					display: block;
				}
			}

			.headline {
				font-weight: 400;
				font-size: 18px;
				line-height: 24px;
				color: #7D7D7D;
				padding-top: 5px;
				display: block;
			}

		}
	}
	.contact-info {
		@include span-columns(3);

		a {
			display: block;
			color: #333;
			font-size: 14px;
			line-height:14px;
			padding: 6px 0 14px;

			i {
				margin-right: 10px;
			}
		}
	}
	.header-quote {
		@include span-columns(6);

		border-bottom: 1px solid #333;

		blockquote {
			font-style: normal;
			color: #333;
			border-bottom: 1px solid #333;
			font-size: 21px;
			line-height: 30px;
			padding: 0 0 20px 0;
			margin: 0 0 4px 0;
		}
	}
}


.summary {
	@include outer-container;

	max-width: 940px;
	padding: 45px 15px;

	.text {
		@include span-columns(8);

		p {
			font-size: 16px;
			line-height: 25px;
			padding: 0 0 40px 0;
			margin: 0;
		}
	}
	.image {
		overflow: hidden; 

		@include span-columns(4);

		img {
			width: 100%;
		}
	}
}

.row {
	@include outer-container;

	max-width: 940px;
	padding: 45px 15px;
}

.skills {
	@include span-columns(6);

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 16px;
		line-height: 21px;

		.meter {
			width: 100%;
			height: 7px;
			display: block;
			content: " ";
			background-color: #EDEDED;
			margin: 10px 0 25px 0;
			span {
				display: block;
				height: 7px;
				position: relative;
				background-color: #585858;

			}
		}

		&.lighter {
			.meter {
				span {
					background-color: #979797;
				}
			}
		}

		&.nothing {
			.meter {
				span {
					background-color: #C5C5C5;
				}
			}
		}
		
	}

}

.experience {
	@include span-columns(6);

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
		margin: 0 0 30px;
		padding: 0 0 15px 0;

		&.now {
			border-bottom: 1px solid #333;
		}
	}

	h3 {
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		color: #333;
		margin: 0;
		padding: 0;
	}

	.company,
	.timeframe {
		font-size: 14px;
		line-height: 19px;
		color: #6A6A6A;
		padding: 10px 0 0 0;
		display: block;
	}

	.timeframe {
		padding: 0;
	}
}

.education {
	@include outer-container;

	max-width: 940px;
	padding: 45px 0;

	ul {
		margin: 0;
		padding: 0;
	}
	li {
		margin: 0;
		padding: 0;
		list-style: none;

		@include span-columns(6);
	}

	.image {
		@include span-columns(2 of 6);
	}
	.info {
		@include span-columns(4 of 6);

		h3 {
			font-size: 20px;
			line-height: 26px;
			font-weight: 400;
			margin: 31px 0 5px 0;
			padding: 0;
		}
		span {
			display: block;
			font-size: 16px;
			line-height: 24px;
		}
	}
}

.title {
	font-size: 25px;
	font-weight: 400;
	line-height: 30px;
	color: #333;
	margin: 10px 0 30px;
	padding: 0;

	i {
		font-size: 27px;
		margin-right: 12px;
	}
}